{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<div>
	<div class="container">

	<h3 align="center">Tracking list</h3>
	<table class="table table-hover">
 <thead>
      <tr>
        <th>Consignment ID</th>
        <th>FROM</th>
        <th>WHERE</th>
        <th>PRICE</th>
        <th>STATUS</th>
    </tr>
		</thead>
	{% for i in object %}
	
   
		<tbody>
      	<tr>
        <td>{{i.consignment_id}}</td>
        <td>{{i.from_c}}</td>
        <td>{{i.where_c}}</td>
        <td>{{i.price_c}}</td>
        <td>{{i.status_n}}</td>
		</tr>
		</tbody>
	{%endfor%}
	</div>
</div>

{% endblock %}